{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center">{{ user.username }}</h2>
    <h2>Your Posts :</h2>
    {% if request.user.id == user.id %}
        <a href="{% url 'home:post_create' %}" class="btn btn-success">Create post</a>
        <hr/>
    {% endif %}
    <div class="card">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}"
               class="card-body">[{{ post.updated|date:"Y-M" }}] - {{ post.body|truncatewords:8 }}</a>
            <hr/>
        {% endfor %}
    </div>
{% endblock %}