{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="container">
        <div class="row align-items-center">
            <div class="rounded text-dark d-flex flex-row"
                 style="background-color: #fac100; ">
                <div class="rounded-top text-dark d-flex flex-row"
                     style="background-color: #fac100; height:max-content;">
                    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                             alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-3"
                             style="width: 150px; z-index: 1">

                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                        <h5>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h5>
                        <p>@{{ user.username }}</p>
                    </div>

                    <div class="ms-5" style="margin-top: 130px;">
                        <h5>About </h5>
                        <p class="text-muted">{{ user.userprofile.bio }}</p>
                    </div>

                    <div class="ms-5" style="margin-top: 130px;">
                        <h5>Address </h5>
                        <p class="text-muted">{{ user.userprofile.address }}</p>

                    </div>
                </div>
            </div>
        </div>
        <div class=" p-2 rounded-bottom text-dark d-flex flex-row" style="background-color: #faaa00; ">
            {% if request.user.id == user.id %}
                <div class="col-md-6 py-1">
                    <a href="{% url 'home:post_create' %}" class="btn btn-outline-dark">Create
                        post</a>
                    <a href="{% url 'account:edit_profile' %}" class="btn btn-outline-dark">Edit
                        Profile</a>
                </div>
            {% endif %}

            {% if request.user.id != user.id and not is_followed %}
                <a href="{% url 'account:user_follow' user.id %}"
                   class="btn btn-outline-success">Follow</a>
            {% elif request.user.id != user.id and is_followed %}
                <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-outline-danger">Unfollow</a>
            {% endif %}
        </div>

    </section>

    <div class="py-4">
        <section class="container">
            <p class="display-5 text-center text-lg-start ">Your posts</p>
            <div class="row">
                {% for post in posts %}
                    <div class="py-4 col-xl-4 col-md-6">
                        <div class="card mb-3" style="min-height:100%">
                            <img src="{% static 'home/img/post-1.png' %}" class="img-fluid"/>
                            <div class="card-body">
                                <p class="card-text"><small class="text-muted">{{ post.user.username|capfirst }}
                                    - {{ post.updated|timesince }}</small></p>
                                <h5 class="card-title">{{ post.slug }}</h5>
                                <p class="card-text">{{ post.body|truncatewords:8 }}</p>
                                <a href="{{ post.get_absolute_url }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>


                {% endfor %}

            </div>
        </section>
    </div>




{% endblock %}