{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center">{{ user.username|capfirst }}</h2>
    {% if request.user.id == user.id %}
        <a href="{% url 'home:post_create' %}" class="btn btn-success">Create post</a>
        <hr/>
    {% endif %}

    {% if request.user.id != user.id and not is_followed %}
        <a href="{% url 'account:user_follow' user.id %}" class="btn btn-success">Follow</a>
        <hr/>
    {% elif request.user.id != user.id and is_followed %}
        <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-danger">Unfollow</a>
        <hr/>
    {% endif %}

    <div class="container card">
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <h2 class="h2 mb-2 fw-normal ">Your Posts :</h2>
            <div class="list-group">
                {% for post in posts %}
                    <a href="{{ post.get_absolute_url }}"
                       class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <i width="32" height="32" class="bi bi-card-text"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">{{ post.slug }}</h6>
                                <p class="mb-0 opacity-75">{{ post.body|truncatewords:15 }}</p>
                            </div>
                            <small class="opacity-50 text-nowrap">By {{ post.user.username|capfirst }}
                                - {{ post.updated|date:"Y-M" }}</small>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}