<div>
    <nav class="navbar navbar-expand-lg navbar-lite container">
        <div class="container-fluid">
            <a class="navbar-brand fs-4" href="{% url 'home:home' %}">Social</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:user_profile' request.user.id %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:user_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:user_register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:user_login' %}">Login</a>
                        </li>
                    {% endif %}

                </ul>
                {% if search_enable %}
                    <form action="{% url 'home:home' %}" method="get" class="d-flex">
                        {{ search_form }}
                        <input type="submit" class="btn btn-outline-dark" value="Search">
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
